iTrainer.xcodeproj/xcuserdata/andreykulinskiy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iTrainer.xcodeproj/project.xcworkspace/xcuserdata/andreykulinskiy.xcuserdatad/Bookmarks/bookmarks.plist

# Summary for Codex
WORKLOG.md

# Design
Design/

AGENTS.md